.Intro {
  background-color: #A3D2C4;
  padding: 0 0 15.625rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.navbar-brand {
  font-size: 3rem !important;
  font-family: 'Montserrat', sans-serif;
}

.big-heading {
  position: absolute;
  margin-left: 4.375rem;
  margin-top: 1.875rem;
  width: 31.25rem;
  font-family:'Montserrat', sans-serif;
  line-height: 3.75rem;
  color: #fff;
  font-size: 3.125rem;
  line-height: 60px;
}

.Primark {
  width: 43.75rem;
  margin: 1.875rem;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  transform: rotate(25deg);
}

.download-button {
  margin-top: 15.625rem;
  margin-left: 60px;
}

.nav-item {
  margin: 30px;
  font-size: 1.5rem;
}

.icon {
  margin-bottom: 1rem;
  color: #d0e8f2;
}

#feature {
  padding: 1.875rem 3.125rem;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.icon:hover {
  color: #bedcfa;
}

@media (max-width: 1028px) {
  .Primark {
    transform: rotate(0deg);
    position: static;
  }
}

p {
  color: #8f8f8f;
}

.play {
  margin-top: 250px;
  margin-left: 30px;
}

h3 {
  font-family:'Ubuntu', sans-serif;
}

.image {
  border-radius: 100%;
  height: 200px;
}

.testimonial-text {
  font-family:'Montserrat', sans-serif;
  font-size: 3rem;
  color: #fff;
}

#testimonials {
  text-align: center;
  background-color: #a3d2ca;
  padding-bottom: 100px;
  padding-top: 100px;
}

.testimonial-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

em {
  padding-left: 20px;
  color: #8f8f8f;
}

#pricings {
  text-align: center;
  padding: 20px;
  margin-bottom: 100px;
}

.pricing-column {
  margin: auto;
  margin-bottom: 30px;
}

.card-header {
  font-family:'Ubuntu', sans-serif;
}

.carousel-control-prev {
  margin: 30px 30px 30px 30px;
}

h2 {
  font-family:'Ubuntu', sans-serif;
}

.carousel-control-next {
  margin: 30px;
}

.title-pricing {
  margin: 50px;
  color: #a3d2ca;
}

.paragraph-pricing {
 margin-bottom: 80px;
}

.navbar {
  margin-left: 50px;
}

#cta {
  background-color: #d0e8f2;
  padding-bottom: 150px;
  text-align: center;
}

.cta-text {
  padding-top: 50px;
  font-size: 50px;
  color: #fff;
  font-family:'Montserrat', sans-serif;
}


.button-cta {
  margin-top: 100px;
  margin-right: 20px;
}

.social-icon {
  margin: 10px;
  margin-top: 50px;
}
