img {
  border-radius: 50%;
  width: 400px;
}

h2 {
  color: blue;
  font-size: 30px;
}

ol {
  font-size: 20px;
}

h3 {
  color: red;
}

ol {
  font-size: 20px;
}

  body {
    background-color: #00FFFF;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
